/* Change le modèle de boite par défaut */
* {
	box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
  scroll-behavior: smooth;
}

/* Sélection de texte personnalisée */
::selection {
  background-color: var(--toniqueLight);
}
body {
	font-family: var(--font-sans);
	font-size: var(--text-base);
	line-height: 1.4;
	letter-spacing: -0.03rem;
	background-color: var(--gray-100);
	color: var(--gray-500);
}
h1,
h2 {
  font-weight: 600;
  letter-spacing: -0.05rem;
  color: var(--dark);
}

h1 {
  font-size: var(--text-5xl);
  line-height: 1.1;
}

h2 {
  font-size: var(--text-2xl);
  line-height: 1.3;
}

h3 {
  font-size: var(--text-base);
  line-height: 1.3;
  color: var(--dark);
  letter-spacing: -0.03rem;
}

main a {
  color: var(--dark);
  text-decoration: none;
  border-bottom: 1px solid var(--gray-300);
  transition: all 0.3s ease;
}

main a:hover {
  border-bottom-color: var(--gray-900);
}

/* Enlève l'apparence par défaut des boutons, input, select */
button,
input,
select,
textarea {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}
/* --- CLASSES UTILITAIRES --- */

/* Pour enlever l'apparence par défaut des listes */
.u-list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.u-sr-only {
  position: absolute !important;
  inline-size: 1px; /* width logique */
  block-size: 1px; /* height logique */
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap; /* évite le retour à la ligne */
  border: 0;

  /* Masquage moderne + fallback */
  clip-path: inset(50%);
}

.u-noscroll {
  overflow: hidden;
}

.u-highlight {
  color: var(--tonique-light);
}

.u-intro {
  font-size: var(--text-2xl);
  color: var(--dark);
  font-weight: 600;
}

.u-grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-2xl);
}