

/* IMPORTS DES FICHIERS CSS */

/* Vendors */
@import url("./vendors/normalize.css");

/* Utils */
@import url("./utils/variables.css");

/* Base */
@import url("./base/main.css");
@import url("./base/media.css");

/* Layout */
@import url("./layout/layout.css");
@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./layout/template.css");
@import url("./layout/404.css");
/* Components */
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/hero.css");
@import url("./components/menu.css");
@import url("./components/carousel.css");
@import url("./components/partenaires.css");
@import url("./components/contact.css");


